:root {
  --border-color: #f2f2f2;
  --small-font-size: 14px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  font-size: 10px;
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  margin-block-end: 4px;
}

input {
  font-size: var(--small-font-size);
  line-height: 18px;
  color: #333333;
  padding-left: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
}

.big-container {
  padding: 22px 13px;
  max-width: 445px;
  margin: auto;
}

.heading_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 37px;
  padding-bottom: 24px;
  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin: 0;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4f4f4f;
    margin: 0;
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: 39px;
  h1 {
    margin: 0;
  }
  ul {
    align-self: baseline;
    margin-left: calc(39px - 13px);
  }
}

.stay_container {
  padding-bottom: 32px;
}

.list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 18px;
  li {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
    white-space: nowrap;
  }
  .super_host {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #4f4f4f;
    padding: 6px 8px;
    border: 1px solid #4f4f4f;
    box-sizing: border-box;
    border-radius: 12px;
  }
}

.stay-title {
  font-weight: 500;
  font-size: var(--small-font-size);
  line-height: 17px;
  color: #000000;
  padding-top: 15px;
  margin: 0;
}

.house_feature {
  width: 100%;
  height: 238px;
  border-radius: 24px;
}

.stays {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons-container button {
  font-size: var(--small-font-size);
  line-height: 18px;
  color: #bdbdbd;
  border: none;
  background: none;
}

button.city,
button.guest {
  padding: 19px 16px;
}

button.city {
  color: #000000;
  border-right: 1px solid var(--border-color);
}

button.guest {
  border-right: 1px solid var(--border-color);
}

.search {
  padding: 19px;
  cursor: pointer;
  background: #eb5757;
  //  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  color: #f2f2f2;
  border: none;
}

.rating {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  span {
    line-height: 15px;
  }
}

.filter-search {
  margin-top: 197px;
}

button img {
  width: 17px;
  height: 17px;
}

.close-icon {
  cursor: pointer;
  align-self: flex-end;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000vh;
  top: -85px;
  left: 0;
  background-color: rgba(79, 79, 79, 0.4);
  left: 0;
}

.popup-content {
  display: flex;
  flex-direction: column;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding-top: 18px;
  padding-bottom: 24px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid #999;
  overflow: auto;
}

.increment-container {
  margin: 1rem;
}

.input-button {
  background-color: #ffffff;
  border-radius: 16px;
  font-size: var(--small-font-size);
  line-height: 18px;
  color: #333333;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.location {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  cursor: pointer;
}

.location span {
  margin-left: 10px;
  font-size: var(--small-font-size);
  line-height: 18px;
  /* identical to box height */
  color: #4f4f4f;
}

.location-container {
  margin: 0;
}

.location img {
  width: 30px;
  height: 35px;
  margin-left: 10px;
}

.increment-container p {
  margin: 0;
  font-weight: bold;
  font-size: var(--small-font-size);
  line-height: 18px;
  color: #000000;
  padding: 10px 0;
}

.increment-container li:nth-of-type(2) {
  display: flex;
  flex-direction: row;
}

.increment-container li:nth-of-type(2) span {
  margin-inline-start: 15px;
}

small {
  font-size: var(--small-font-size);
  line-height: 18px;
  color: #bdbdbd;
}

.minus-btn {
  margin-inline-start: 15px;
}

.adults-num,
.child-num {
  font-weight: bold;
  font-size: var(--small-font-size);
  line-height: 18px;
  /* identical to box height */
  color: #000000;
}

li > button {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
}

.location-text {
  background: none;
  border: none;
  outline: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #root {
    padding-top: 0;
  }
  .big-container {
    max-width: 768px;
    padding: 0;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    padding-block-end: 67px;
  }

  .img_wrapper {
    width: 339px;
  }

  .heading_container {
    padding-top: 0;
  }

  .stay_container {
    // width: 395px;
    padding-bottom: 0;
  }
  .stays {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 49px;
    padding-bottom: 101px;
  }
  .modal-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
    margin: auto;
  }
  .popup-content {
    height: 460px;
  }
  .modal-form button.search {
    height: 48px;
    margin-top: 25px;
  }
  #root {
    padding-top: 48px;
  }
}

@media (min-width: 1114px) {
  .big-container {
    max-width: 1114px;
    margin: auto;
  }
}
