body {
    font-family: 'Inter', sans-serif;
    background-color: #ddd;
    font-family: 10px;
}

header {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.stays {
    display: flex;
    flex-direction: column;
}

div>img {
    max-width: 100%;
    height: 300px;
    border-radius: 24px;
}

a {
    text-decoration: none;
}

.buttons-container {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons-container button {
    padding: 19px 19px;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #BDBDBD;
    border: none;
    background: none;
}

.rating {
    background-image: url(./icons/star.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
}

button.city {
    color: #000000;
    border-right: 1px solid #F2F2F2;
}

button.guest {
    border-right: 1px solid #F2F2F2;
}

.search {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    cursor: pointer;
    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    color: #F2F2F2;
    border: none;
}

button img {
    width: 17px;
    height: 17px;
}

.close-icon {
    cursor: pointer;
    position: fixed;
    right: 0;
    top: calc(100vh - 85vh - 109px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}

.popup {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 139vh;
    top: -75px;
    left: 0;
}

.popup-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.increment-container {
    margin: 1rem;
}

.input-button {
    background-color: #FFFFFF;
    /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); */
    border-radius: 16px;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #333333;
}

div.big-container {
    padding-inline-start: 13px;
    padding-block-start: 19px;
    padding-inline-end: 13px;
    padding-block-end: 19px;
}

ul {
    list-style: none;
    padding: 0;
}

.list_conatiner {
    display: flex;
    flex-direction: row;
}

.list_conatiner li {
    margin-inline-start: 47px;
}

.stay-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
}

svg {
    fill: #EB5757;
}

.form-container {
    display: flex;
    flex-direction: column;
}

label {
    margin-block-end: 4px;
}

input {
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #333333;
    padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.location {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    cursor: pointer;
}

.location span {
    margin-left: 10px;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #4F4F4F;
}

.location-container {
    margin: 0;
}

.location img {
    width: 30px;
    height: 35px;
    margin-left: 10px;
}

.increment-container p {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding: 10px 0;
}

.increment-container li:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

.increment-container li:nth-of-type(2) span {
    margin-inline-start: 15px;
}

small {
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #BDBDBD;
}

.minus-btn {
    margin-inline-start: 15px;
}

.adults-num,
.child-num {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

li>button {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
}

.btn-item {
    background: none;
    border: none;
    outline: none;
}

@media(min-width:768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding-block-end: 84px;
    }
    .stays {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 32px;
        row-gap: 42px;
    }
    .modal-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 768px;
        margin: auto;
    }
    .popup-content {
        height: 460px;
    }
    .modal-form button.search {
        height: 48px;
        margin-top: 25px;
    }
    #root {
        padding-top: 48px;
    }
}

@media(min-width: 1114px) {
    #root {
        max-width: 1114px;
        margin: auto;
    }
}